html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main-div {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* NavBar styling */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #faf3dd;
  height: 70px;
  font-weight: 700;
  min-width: 100%;
}
.list-menu {
  display: flex;
  flex-direction: row;
  gap: 42px;
  list-style: none;
  padding: 40px;
  cursor: pointer;
  margin-left: 45px;
}

.list-menu a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #faf3dd;
}

#mode {
  margin-right: 2rem;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  color: #faf3dd;
  background-color: #606c38;
  border: none;
}

#mode i {
  margin-right: 5px;
}

/* About styling */
.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 55px;
  padding: 35px;
  min-width: 400px;
  min-height: 500px;
}

.fixed-text {
  display: inline-block;
  font-size: 50px;
  font-weight: 600;
  color: #faf3dd;
}

.animated-text {
  display: inline-block;
  font-size: 50px;
  margin-left: 20px;
}

.animated-text div span {
  position: relative;
  color: #faf3dd;
}

@keyframes textType {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.description-about {
  min-width: 400px;
  min-height: 100px;
  font-size: 30px;
  margin-top: 20px;
  color: #faf3dd;
}
